package_old.json

node_modules/*
examples/todoApp/node_modules/*
examples/jira_clone/.vscode/*
examples/jira_clone/node_modules/*

.idea/*

.DS_Store

lib/*

package-lock.json
examples/jira_clone/client/yarn.lock
examples/jira_clone/client/yarn.lock
